@import 'colors';

@mixin panel-style {
  border: 0.0625rem solid $grey-color;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem $grey-color;
  display: flex;
  flex-direction: column;
}

@mixin scroll-style {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: $grey-color;
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $grey-dark-color;
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $grey-dark-color;
  }
}
