@import 'src/assets/stylesheets/colors';
@import 'src/assets/stylesheets/mixins';
@import 'src/assets/stylesheets/font-size';

.chat-panel-container {
  @include panel-style;
  height: 85%;
  padding: 1.5rem 1.5rem 0 1.5rem;
  width: 37.5rem;

  .messages-container {
    @include scroll-style;
    flex: 1;
    overflow-y: auto;
  }

  .input-container {
    margin-bottom: 2rem;
    margin-top: 0.25rem;
    position: relative;

    .send-button {
      background: transparent;
      border: none;
      color: $grey-dark-color;
      cursor: pointer;
      font-size: $font-size-medium;
      outline: none;
    }

    .send-button:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    .typers-label {
      bottom: -1.375rem;
      color: $grey-dark-color;
      font-size: $font-size-small;
      position: absolute;
    }
  }
}
